# Discord bot token from https://discord.com/developers/applications
DISCORD_TOKEN=your_discord_bot_token
# Google Sheet ID from the sheet URL: /spreadsheets/d/{SHEET_ID}/
SPREADSHEET_ID=your_google_sheet_id
